p {
 color: red;
text-align: justify;
}
.radio{
    text-align: left
}
html{
    background-color: darkgreen;
}

.caixa{
    text-align: center;
    background-color: greenyellow;
    width: 20px;
    align-content: center;
    position:absolute;
	left:50%;
	top:50%;
	margin-left:-110px;
	margin-top:-40px;    
    width:200px;
    height:200px;
    border:solid 5px darkblue;
    border:0px 20px 0px 20px;
}

.candidato{
    text-align: center;
    background-color: greenyellow;
    width: 20px;
    align-content: center;
    position:absolute;
	left:15%;
	top:15%;
	margin-left:-100px;
	margin-top:-80px;    
    width:400px;
    height:500px;
    border:solid 10px darkblue;
    border:0px 20px 0px 20px;
}
.voto{
    text-align: left;
    background-color: greenyellow;
    width: 20px;
    align-content: left;
    position:absolute;
	left:75%;
	top:15%;
	margin-left:-100px;
	margin-top:-80px;    
    width:400px;
    height:500px;
    border:solid 10px darkblue;
    border:0px 20px 0px 20px;
    
}

.menu{
    margin-left: 30%;
    margin-top: 80%
}

.cadastro{
    text-align: left;
    background-color: greenyellow;
    width: 200px;
    align-content: center;
    position:absolute;
	left:15%;
	top:15%;
	margin-left:-100px;
	margin-top:-80px;    
    width:650px;
    height:250px;
    border:solid 8px darkblue;
    border:0px 20px 0px 20px;
}

















